---

---

<div
  class="container pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <!--Left Col-->
  <div
    class="flex flex-col w-full  justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Also
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        See
      </span>
    </h1>
    <p
      class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left"
    >
      Instachart - Convert charts to images for free.
    </p>

    <div
      class="bg-gray-800 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label
          class="block text-blue-300 py-2 font-bold"
          for="emailaddress"
        >
        Generate charts as images online. Embed dynamic charts as images.
        </label>
        <p>
            Easy, fast, and versatile – InstaChart transforms your data into impactful visuals!
        </p>
      </div>

      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-l from-orange-300 to-orange-300  text-black font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://instachart.coveritup.app/"
        >
          InstaChart
        </a>
      </div>
    </div>
  </div>

  <style></style>
</div>
