---

---


<div
  class="container pt-10 md:pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <div
    class="flex flex-col w-full justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      SVG Progress
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        Bars
      </span>
      <br />
      <span class="text-2xl"> Generate Pure SVG Progress Bars </span>
    </h1>
    <p
      class="leading-normal font-mono text-base md:text-xl mb-8 text-center md:text-left"
    >
      Pick your style
    </p>

    <div
      class="bg-yellow-400  w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label class="block text-black text-4xl py-2 font-bold mb-2 font-funky">
          Custom styles, sizes and colors
        </label>
        <p class="text-slate-800 font-mono">
          Generate pure SVG <b>Circular</b> progress bar. <br />
          Generate pure SVG <b>Bar</b> progress bar. <br />
          Generate pure SVG <b>Battery</b> progress bar. <br />
        </p>
      </div>
      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-t from-green-500 to-green-500 hover:from-green-500 hover:to-green-500 text-gray-800 font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://github.com/kevincobain2000/go-progress-svg"
        >
          Github
        </a>
      </div>
    </div>
  </div>
</div>


