---
import octocat from '@assets/octocat.svg?raw'
import medium from '@assets/medium.svg?raw'
---

<div class="w-full container mx-auto">
    <div class="w-full flex items-center justify-between">

      <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-4xl select-none" href="/">
        <img src="/favicon.ico" alt="" width="35">
        <span class="pt-1">SVG Progress<span class="pl-1 bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">Bars</span></span>
      </a>

      <div class="flex w-1/2 justify-end content-center">
        <a class="inline-block text-blue-300 no-underline hover:text-pink-500 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out" href="https://github.com/kevincobain2000/go-progress-svg">

            <Fragment set:html={octocat} />
        </a>
        <!-- <a
          class="inline-block text-blue-300 no-underline hover:text-pink-500 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out"
          href="https://medium.com/@kevincobain2000-x/revolutionizing-code-tracking-for-developers-e8b7b42a5204"
        >
        <Fragment set:html={medium} />
        </a> -->
      </div>
    </div>
  </div>
<style>

</style>
